<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.capellari.showme">

    <!-- Nécessités -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Métadonnées -->
        <meta-data android:name="android.max_aspect"
            android:value="2.1" /> <!-- Rends l'appli adaptables aux plus recentes tailles ecrans 18:9 -->

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <!-- Activités -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ParametresActivity"
            android:label="@string/title_activity_parametres"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.capellari.showme.MainActivity" />
        </activity>

        <!-- Services -->
        <service
            android:name=".DataService"
            android:exported="false" />
    </application>

</manifest>