<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.capellari.showme">

    <!-- Nécessités -->
    <uses-feature android:name="android.hardware.location"
        android:required="true" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application -->
    <application android:label="@string/app_name"
        android:icon="@mipmap/icone"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Métadonnées -->
        <meta-data android:name="android.max_aspect"
            android:value="2.1" /> <!-- Rends l'appli adaptables aux plus récentes tailles d'écrans 16:9 -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <!-- Activités -->
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashScreen">

            <!-- Démarage -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BienvenueActivity"
            android:label="@string/bienvenue_activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Recherche -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Action View -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <!-- Métadonnées -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".LieuActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Métadonnées -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TypesActivity"
            android:label="@string/types_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Métadonnées -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ParametresActivity"
            android:label="@string/parametres_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

            <!-- Config réseau -->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
            </intent-filter>

            <!-- Métadonnées -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Services -->
        <service android:name=".NombreService" />

        <!-- ContentProvider -->
        <provider android:authorities="net.capellari.showme.historique"
            android:name=".HistoriqueProvider"
            android:exported="false" />
    </application>

</manifest>